In [ ]:
%pip install conll-df

In [43]:
import csv
import pandas as pd
import numpy as np
path = '../data/ler/ler.conll'

# Hier scheint ein Problem mit Quoting zu sein, deshalb vorerst beim einlesen deaktiviert. 
ParserError: Error tokenizing data. C error: EOF inside string starting at row 1271425

row 1271425 besteht aus "B I-RS\n"

In [ ]:
#df = pd.read_csv(path, sep=' ', header=None, names=['token','tag'])

In [65]:
#I had a similar problem. The line listed with the 'EOF inside string' had a string that contained within it a single quote mark. 
# When I added the option quoting=csv.QUOTE_NONE it fixed my problem.
df = pd.read_csv(path, sep=' ', header=None, names=['token','tag'], quoting=csv.QUOTE_NONE)

In [ ]:
# I have the same problem, and after adding these two params to my code, the problem is gone.
#df = pd.read_csv(path, sep=' ', header=None, names=['token','tag'], quoting=3, error_bad_lines=False)

In [85]:
# let index start at 1, since the conll file has no line 0
df.index = np.arange(1,len(df)+1) 
df.iloc[[0]] # Warum gibt er Prozesskostenhilfe aus, wenn ich den index ab 1 starten lasse

                token tag
1  Prozesskostenhilfe   O

In [89]:
df.iloc[lambda x: x.index == 1] # wie erwartet, der richtige wert. x.index == 0 gibt nichts aus

                token tag
1  Prozesskostenhilfe   O

In [92]:
df.iloc[lambda x: x.index == 2223505]

Empty DataFrame
Columns: [token, tag]
Index: []

In [84]:
df.head(10)

                 token tag
1   Prozesskostenhilfe   O
2                    -   O
3        Entschädigung   O
4                  für   O
5            überlange   O
6      Verfahrensdauer   O
7                    -   O
8   Revisionsverfahren   O
9                  Der   O
10              Antrag   O

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2157048 entries, 1 to 2157048
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   token   object
 1   tag     object
dtypes: object(2)
memory usage: 49.4+ MB